.Auth {
  text-align: center;
  padding: 32px;
  width: 30%;
  list-style: none;
  margin: 10px auto; /* can change to 0 and it will go left */
  margin-top: 10%;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}

.LoginButton {
  cursor: pointer;
  padding: 16px;
  background-color: rgb(55, 55, 235);
  color: whitesmoke;
  margin-left: 10px;
  transition-duration: 0.5s;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  box-shadow: 8px 8px 16px rgb(223, 223, 223), 2px 2px 4px rgb(85, 85, 85);
  outline: none;
}

.LoginButton:hover {
  background-color: rgb(109, 109, 218);
  transition-duration: 0.5s;
}

.ConfirmButton {
  cursor: pointer;
  padding: 16px;
  background-color: rgb(28, 184, 87);
  color: whitesmoke;
  margin-left: 10px;
  transition-duration: 0.5s;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  box-shadow: 8px 8px 16px rgb(223, 223, 223), 2px 2px 4px rgb(85, 85, 85);
  outline: none;
}

.ConfirmButton:hover {
  background-color: rgb(131, 218, 109);
  transition-duration: 0.5s;
}
